.App {
  text-align: center;
}

.face {
  width: 20%;
}
h1 {
  text-decoration: underline;
}
/* Netflix */
.netflixWindow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

/* AirBnB */
.airbnbWindow {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  gap: 5px;
}

/* //BBC */
.bbcWindow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  
}
.bbcImg {
  text-align: left;
  max-width: 220px;
}
#headline {
  font-size: 15px;
}
#tagline {
  font-size: small;
}
#section{
  font-size: 13px;
}
